@mixin hover-underline {

        &::after {
                position: absolute;
                content: "";
                top: 100%;
                left: 0;
                width: 100%;
                height: 3px;
                background: $main-color;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
        }

        &:hover {
                color: #dddddd;
        }

        &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
        }
}

@mixin hover-btn {
        &:hover {
                background: $hover-btn;
                transition: 0.2s all;
        }
}